# Maven specific
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Eclipse specific
.classpath
.project
.settings/

# IntelliJ IDEA specific
.idea/
*.iml
*.iws

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# Linux specific
*~
.directory